{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Recipe</h2>
        <hr>

        <div class="mb-3">
            <label class="form-label">Recipe Name</label>
            <input name="name" value="{{receipe.name}}" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Description</label>
            <textarea name="description"
          class="form-control"
          required>{{receipe.description}}</textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input name="receipe_image" type="file" class="form-control" value="{{receipe.receipe_image}}">
        </div>

        <button type="submit" class="btn btn-success">Update Recipe</button>
    </form> 
</div>

{% endblock %}